.navbar {
  background-color: black;
  
}
.navbar a{
  color: white;
}
.learn{
  color: white;
  font-size: 15px;
  opacity: 1;
}
.about-us{
  background-color: black;
  opacity: 0.9;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}
.more-about-us{
  background-color: black;
  opacity: 0.9;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.card{
  background-color: black;
  opacity: 0.9;
}
.card-text{
  font-size: 15px;
}
.solid-image{
  opacity: 1;
}

body{
  background-image: url("images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;

}
.btn-primary:hover {
  background-color: blue;
  color: white;
}
  
.about-us h1{
    color: white;
    font-family: cursive;
  }
