.navbar {
  background-color: black;
  
}
.navbar a{
  color: white;
}
.learn{
  color: white;
  font-size: 15px;
  opacity: 1;
}
.about-us{
  background-color: black;
  opacity: 0.9;
  /* border-bottom: 5px solid white; */
  border-top: 3px solid white;
}
.more-about-us{
  background-color: black;
  opacity: 0.9;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.card{
  background-color: black;
  opacity: 0.9;
  /* border-bottom: 5px solid white; */
}
.card-text{
  font-size: 15px;
}
.solid-image{
  opacity: 1;
}

body{
  background-image: url("images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding-top:400px; */
 

}
.btn-primary:hover {
  background-color: blue;
  color: white;
}
  
.about-us h1{
  color: white;
  font-family:sans-serif
  }

.shopForm{
  color: white;
  background-color: black;
  opacity: 0.9;
  border-bottom: 3px solid white;
  
  justify-content: center;
}

.shop-intro{
  background-color: black;
  opacity: 0.9;
  color: white;
  border-top: 3px solid white;
  text-align: center;
}
.carousel-item{
  height: 32rem;
  background: #777;


}
.container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
    
}
.location{
  background-color: black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  opacity: 0.9;
  color: white;

}

  /* ---------------- LOCATIONS PAGE LISTS----------------- */

/* styles for directions button in location page  */
#directions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 15px 100px;
    border-radius: 8px;
   
}
#directions a {
    color: white;
    text-decoration: underline  ;
    text-decoration-color: greenyellow;
    
}
.flushing h2{
  color: white;
  font-family:sans-serif
}
.social{
  margin-top: 100px;
  background-color: black;
  color: white;
  border-top: 3px solid white;
  
}
.carousel-item{
  background-color: white;

}
/* Teams section styling on main page */
.team-row{
  background-color: black;
  opacity: 0.9;
  border-bottom: 3px solid white;
}
.teams{
  color: white;
}
.teams-two{
  color: white;
  padding-top: 50px;
}
.btn-second{
  background-color: black;
  color:orange;
  border:1px solid white;
}
